body{
    background-color: #a6abad;
    /* display: block; */
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left-section hr{
    background-color: #f5f5f5;
}
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
.left-section{
    background-color: #242531;
    list-style: none;
    grid-column: span 1;
}
.right-section{
    background-color: #F7F7F7;
    grid-column: span 1 / span 2;
}
.left-content{
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}
.profile-image{
    margin: auto;
    display: block;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}
i{
    color: #f5f5f5;
    margin: 5px; 
}
.personal-details{
    margin: 3px;
}
.skills{
    color: #f5f5f5;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-item{
    margin-bottom: 20px;
}
.skill-name{
    text-align: left;
    color: #f5f5f5;
    font-size: 0.65rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
    background-color: #f5f5f5;
}
.right-main-content{
    padding: 2rem 3rem;
}
section > hr{
    margin: 3px 0px;
    border: 1px solid black;
    background-color: black;
}
li > div{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
div > section{
    margin: 10px;
}
.right-title{
    font-size: 1.2rem; 
    font-weight: 700; 
    padding: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
p{
    text-align: justify;
    word-spacing: 4px;
}

@media screen and (max-width: 674px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        min-height: 1000px;
    }
    .left-section{
        width: 100%;
    }
    .right-section{
        width: 100%;
    }
}